@{
    ViewBag.Title = "Empresas";
    ViewBag.pTitle = "Creación de Cupo y Empresa";
    ViewBag.pageTitle = "Empresas";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var successMessage = TempData["SuccessMessage"] as string;
    var errorMessage = TempData["ErrorMessage"] as string;
}

@model EmpresaRequest

@section styles {
    <!-- DataTable CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
}

<br />
<br />

<div class="row">
    <form id="crearEmpresaForm" asp-action="CrearEmpresa" asp-controller="Empresa" method="post" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>
        <div class="col-xxl-12">
            <div class="card mt-xxl-n5">

                <div class="card-body p-4">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h2 class="mb-0">Creación de Empresa y Asignación de Cupo</h2>

                        <a href="@Url.Action("ListarEmpresas", "Empresa")" type="button" class="btn btn-primary">
                            <span class="icon-on">Ver Empresas</span>
                        </a>
                    </div>
                    <hr></hr>
                    <div class="tab-content">
                        <div class="tab-pane active" id="personalDetails" role="tabpanel">
                            <div class="row">

                                <div class="col-lg-3" hidden>
                                    <div class="mb-2">
                                        <label>Seleccione el tipo de empresa</label>
                                        <select class="form-control" asp-for="EmpTipoEmpresaId" data-choices data-choices-sorting-false required>
                                            <option value="">Seleccione una opción</option>
                                            @foreach (var tipoEmpresa in ViewBag.TipoEmpresa)
                                            {
                                                <option selected value="@tipoEmpresa.TempId">@tipoEmpresa.TempNombre</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="divider-with-text"><i class="ri-community-fill"></i> Datos del Solicitante/Afianzado/Contratista</div>

                                <div class="col-md-4">
                                    <label class="form-label">Nombre</label>
                                    <input type="text" class="form-control" asp-for="EmpNombre" required>
                                    <div class="invalid-feedback">Ingrese un nombre válido.</div>
                                </div>


                                <div class="col-md-4">
                                    <label class="form-label">Identificación / RUC</label>
                                    <div class="form-icon">
                                        <input type="text" class="form-control form-control-icon" asp-for="EmpRUC" required>
                                        <div class="invalid-feedback">Ingrese un RUC válido (13 dígitos).</div>
                                        <i class="bx bx-id-card"></i>
                                    </div>
                                </div>

                                <div class="col-md-4" style="position: relative;">
                                    <label class="form-label">Ciudad</label>
                                    <div class="form-icon">
                                        <input type="text" class="form-control form-control-icon " id="ciudadInput" placeholder="Buscar ciudad..." asp-for="EmpCiudad" required autocomplete="off">

                                        <div id="sugerenciasCiudades" style="border: 1px solid #ccc; max-height: 150px; overflow-y: auto; position: absolute; background: white; z-index: 1000; display: none; width: 100%;"></div>

                                        <div class="invalid-feedback">Ingrese un nombre válido.</div>

                                        <i class="bx bx-map"></i>
                                    </div>
                                </div>

                                <div class="" style="position: relative;">
                                    <label class="form-label">Dirección</label>

                                    <div style="display: flex; align-items: center;">
                                        <div class=" col-md-11 form-icon">
                                            <input type="text" class="form-control form-control-icon" id="direccionInput" placeholder="Buscar dirección" asp-for="EmpUbicacion" required autocomplete="off" style="flex: 1;">
                                            <i class="bx bx-map-alt"></i>
                                        </div>
                                        <button type="button" id="toggleMapaBtn" onclick="toggleMapa()" style="margin-left: 5px; background-color: transparent; border: none; cursor: pointer;">
                                            <i class="ri-map-pin-fill" style="font-size: 1.5rem;"></i>
                                        </button>
                                    </div>

                                    <div id="sugerencias" style="border: 1px solid #ccc; max-height: 150px; overflow-y: auto; position: absolute; background: white; z-index: 1000; display: none; width: 100%;"></div>

                                    <div id="mapContainer" class="fade-out" style="display: none; margin-top: 10px; position: relative;">
                                        <!-- Botón cerrar dentro del mapa -->
                                        <button type="button" onclick="toggleMapa()" style="position: absolute; top: 10px; right: 10px; z-index: 1001; background-color: rgba(255,255,255,0.8); border: none; border-radius: 4px; padding: 5px 10px; cursor: pointer;">
                                            <i class="ri-close-line" style="font-size: 1.5rem;"></i>
                                        </button>

                                        <div style="margin-bottom: 10px; margin-top: 40px;">
                                            <label for="mapStyle">Estilo del Mapa:</label>
                                            <select id="mapStyle" onchange="setMapStyle(this.value)">
                                                <option value="light">Claro</option>
                                                <option value="dark">Oscuro</option>
                                                <option value="satellite">Satélite</option>
                                            </select>
                                        </div>

                                        <div id="map" style="height: 400px;"></div>
                                    </div>
                                </div>



                                <div class="col-md-4">
                                    <label class="form-label">Teléfono</label>
                                    <div class="form-icon">
                                        <input type="text" class="form-control form-control-icon" asp-for="EmpTelefono" required>
                                        <div class="invalid-feedback">Ingrese un teléfono válido.</div>
                                        <i class="bx bx-phone"></i>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label class="form-label">Correo Electrónico</label>
                                    <div class="form-icon">
                                        <input type="email" class="form-control" asp-for="EmpEmail" required>
                                        <div class="invalid-feedback">Ingrese un correo válido.</div>
                                        <i class="bx bx-mail-send"></i>
                                    </div>
                                </div>

                                <div class="divider-with-text"><i class="ri-currency-fill" id="iconos"></i> Activos</div>

                                <div class="col-md-3">
                                    <label class="form-label">Activo Corriente</label>
                                    <div class="form-icon">
                                        <input type="number" class="form-control form-control-icon" id="EmpfActivoCorriente" asp-for="EmpfActivoCorriente" required>
                                        <div class="invalid-feedback">Ingrese un valor válido.</div>
                                        <i class="bx bx-dollar"></i>
                                    </div>

                                </div>
                                <!-- Input with Icon -->

                                <div class="col-md-3">
                                    <label class="form-label">Activo Fijo</label>
                                    <div class="form-icon">
                                        <input type="number" class="form-control  form-control-icon" id="EmpfActivoFijo" asp-for="EmpfActivoFijo" required>
                                        <div class="invalid-feedback">Ingrese un valor válido.</div>
                                        <i class="bx bx-dollar"></i>

                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="form-label">Activo Diferido</label>
                                    <div class="form-icon">
                                        <input type="number" class="form-control form-control-icon" id="EmpfActivoDiferido" asp-for="EmpfActivoDiferido" required>
                                        <div class="invalid-feedback">Ingrese un valor válido.</div>
                                        <i class="bx bx-dollar"></i>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="form-label">Otros Activos</label>
                                    <div class="form-icon">
                                        <input type="number" class="form-control form-control-icon" id="EmpfOtrosActivos" asp-for="EmpfOtrosActivos" required>
                                        <div class="invalid-feedback">Ingrese un valor válido.</div>
                                        <i class="bx bx-dollar"></i>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="form-label">Total Activos</label>
                                    <div class="form-icon">
                                        <input type="number" class="form-control form-control-icon" id="EmpfTotalActivos" asp-for="EmpfTotalActivos" required>
                                        <div class="invalid-feedback">Ingrese un valor válido.</div>
                                        <i class="bx bx-dollar"></i>
                                    </div>
                                </div>

                                <div class="divider-with-text"><i class="ri-currency-fill" id="iconos"></i> Pasivos</div>

                                <div class="col-md-3">
                                    <label class="form-label">Pasivo Corriente</label>
                                    <div class="form-icon"> 
                                        <input type="number" class="form-control form-control-icon" id="EmpfPasivoCorriente" asp-for="EmpfPasivoCorriente"  required>
                                        <div class="invalid-feedback">Ingrese un valor válido.</div>
                                        <i class="bx bx-dollar"></i>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="form-label">Pasivo Largo Plazo</label>
                                    <div class="form-icon">
                                        <input type="number" class="form-control form-control-icon" id="EmpfPasivoLargoPlazo" asp-for="EmpfPasivoLargoPlazo" required>
                                        <div class="invalid-feedback">Ingrese un valor válido.</div>
                                        <i class="bx bx-dollar"></i>

                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="form-label">Pasivo Diferido</label>
                                    <div class="form-icon">
                                        <input type="number" class="form-control form-control-icon" id="EmpfPasivoDiferido" asp-for="EmpfPasivoDiferido" required>
                                        <div class="invalid-feedback">Ingrese un valor válido.</div>
                                        <i class="bx bx-dollar"></i>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="form-label">Total Pasivo</label>
                                    <div class="form-icon">
                                        <input type="number" class="form-control form-control-icon" id="EmpfTotalPasivo" asp-for="EmpfTotalPasivo" readonly required>
                                        <div class="invalid-feedback">Ingrese un valor válido.</div>
                                        <i class="bx bx-dollar"></i>
                                    </div>
                                </div>

                                <div class="divider-with-text"><i class="ri-currency-fill" id="iconos"></i> Patrimonio</div>

                                <div class="col-md-4">
                                    <label class="form-label">Capital</label>
                                    <div class="form-icon">
                                        <input type="number" class="form-control form-control-icon" id="EmpfCapital" asp-for="EmpfCapital" required>
                                        <div class="invalid-feedback">Ingrese un valor válido.</div>
                                        <i class="bx bx-dollar"></i>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label class="form-label">Reserva</label>
                                    <div class="form-icon">
                                        <input type="number" class="form-control form-control-icon" id="EmpfReserva" asp-for="EmpfReserva" required>
                                        <div class="invalid-feedback">Ingrese un valor válido.</div>
                                        <i class="bx bx-dollar"></i>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label class="form-label">Otras Cuentas Patrimonio</label>
                                    <div class="form-icon">
                                        <input type="number" class="form-control form-control-icon" id="EmpfOtrasCuentasPatrimonio" asp-for="EmpfOtrasCuentasPatrimonio">
                                        @*                                     <div class="invalid-feedback">Ingrese un valor válido.</div>
 *@                                
                                      <i class="bx bx-dollar"></i>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label class="form-label">Utilidades Acumuladas</label>
                                    <div class="form-icon">
                                        <input type="number" class="form-control form-control-icon" id="EmpfUtilidadesAcumuladas" asp-for="EmpfUtilidadesAcumuladas">
                                        @*                                     <div class="invalid-feedback">Ingrese un valor válido.</div>*@  
                                     <i class="bx bx-dollar"></i>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label class="form-label">Utilidad Ejercicio</label>
                                    <div class="form-icon">
                                        <input type="number" class="form-control form-control-icon" id="EmpfUtilidadEjercicio" asp-for="EmpfUtilidadEjercicio">
                                        @*                                     <div class="invalid-feedback">Ingrese un valor válido.</div>*@                                
                                         <i class="bx bx-dollar"></i>
                                    </div>
                                </div>


                                <div class="col-md-4">
                                    <label class="form-label">Pérdida</label>
                                    <div class="form-icon">
                                        <input type="number" class="form-control form-control-icon" id="EmpfPerdida" asp-for="EmpfPerdida" required>
                                        <div class="invalid-feedback">Ingrese un valor válido.</div>
                                        <i class="bx bx-dollar"></i>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Otras Perdidas del Ejercicio</label>
                                    <div class="form-icon">
                                        <input type="number" class="form-control form-control-icon" id="EmpfOtrasPerdidas" asp-for="EmpfOtrasPerdidas">
                                        @*    <div class="invalid-feedback">Ingrese un valor válido.</div> *@
                                        <i class="bx bx-dollar"></i>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Patrimonio Neto</label>
                                    <div class="form-icon">
                                        <input type="number" class="form-control form-control-icon" id="EmpfPatrimonioNeto" asp-for="EmpfPatrimonioNeto" readonly required>
                                        <div class="invalid-feedback">Ingrese un valor válido.</div>
                                        <i class="bx bx-dollar"></i>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label class="form-label">Patrimonio Y Pasivo</label>

                                    <div class="form-icon">
                                        <input type="number" class="form-control form-control-icon" id="EmpfPasivoPatrimonio" asp-for="EmpfPasivoPatrimonio" readonly required>
                                        <div class="invalid-feedback">Ingrese un valor válido.</div>
                                        <i class="bx bx-dollar"></i>
                                    </div>
                                </div>
                                <div class="divider-with-text"><i class="ri-currency-fill"></i> Resultados</div>

                                <div class="col-md-3">
                                    <label class="form-label">Ventas</label>
                                    <div class="form-icon">
                                        <input type="number" class="form-control form-control-icon" id="EmpfVentas" asp-for="EmpfVentas" required>
                                        <div class="invalid-feedback">Ingrese un valor válido.</div>
                                        <i class="bx bx-dollar"></i>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="form-label">Utilidad</label>
                                    <div class="form-icon">
                                        <input type="number" class="form-control form-control-icon" id="EmpfUtilidad" asp-for="EmpfUtilidad" required>
                                        <div class="invalid-feedback">Ingrese un valor válido.</div>
                                        <i class="bx bx-dollar"></i>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="form-label">Cupo Asignado</label>
                                    <div class="form-icon">
                                        <input type="number" class="form-control form-control-icon" step="0.01" class="form-control" id="EmpfCupoAsignado" asp-for="EmpfCupoAsignado" readonly>
                                        <i class="bx bx-dollar"></i>
                                    </div>
                                </div>

                                <div class="divider-with-text"><i class="ri-currency-fill"></i> Análisis Financiero</div>

                                <div class="col-md-3">
                                    <label class="form-label">Liquidez</label>
                                    <input type="number" class="form-control" id="AnfLiquidez" asp-for="AnfLiquidez" readonly required>
                                </div>

                                <div class="col-md-3">
                                    <label class="form-label">Solvencia</label>
                                    <input type="number" class="form-control" id="AnfSolvencia" asp-for="AnfSolvencia" readonly required>
                                </div>

                                <div class="col-md-3">
                                    <label class="form-label">Capacidad de Cobertura</label>
                                    <input type="number" class="form-control" id="AnfCapCobertura" asp-for="AnfCapCobertura" readonly required>
                                </div>

                                <div class="col-md-3">
                                    <label class="form-label">Endeudamiento</label>
                                    <input type="number" class="form-control" id="AnfEndeudamiento" asp-for="AnfEndeudamiento" readonly>
                                </div>

                                <div class="col-md-3">
                                    <label class="form-label">Capital Propio</label>
                                    <input type="number" class="form-control" id="AnfCapitalPropio" asp-for="AnfCapitalPropio" readonly>
                                </div>

                                <div class="col-md-3">
                                    <label class="form-label">ROA</label>
                                    <input type="number" class="form-control" id="AnfROA" asp-for="AnfROA" readonly required>
                                </div>

                                <div class="col-md-3">
                                    <label class="form-label">ROE</label>
                                    <input type="number" class="form-control" id="AnfROE" asp-for="AnfROE" readonly required>
                                </div>

                                <div class="col-md-12">
                                    <label class="form-label">OBSERVACIONES :  Análisis Situación Financiera.</label>
                                    <textarea type="text" class="form-control" rows="3" asp-for="AnfAnalisisSf" required></textarea>
                                </div>
                                <div class="divider-with-text"><i class="ri-currency-fill"></i>  Clasificacion</div>

                                <div class="col-md-12">
                                    <div class="form-check form-switch d-flex align-items-center mb-2">
                                        <input class="form-check-input" type="checkbox" value="A" asp-for="ClempClasificacion" role="switch" id="SwitchCheckA">
                                        <label class="form-check-label ms-2 me-2" for="SwitchCheckA">A</label>
                                        <label class="form-check-label" for="SwitchCheckA">MAYOR A 500.000 EN CONTRATOS</label>
                                        <input type="hidden" asp-for="ClempRango" class="form-control" value="Mayor a 500.000" />
                                    </div>

                                    <div class="form-check form-switch d-flex align-items-center mb-2">
                                        <input class="form-check-input" type="checkbox" value="B" asp-for="ClempClasificacion" role="switch" id="SwitchCheckB">
                                        <label class="form-check-label ms-2 me-2" for="SwitchCheckB">B</label>
                                        <label class="form-check-label" for="SwitchCheckB">ENTRE 120.000 Y 500.000 EN CONTRATOS</label>
                                        <input type="hidden" asp-for="ClempRango" class="form-control" value="120.000 / 500.000" />
                                    </div>

                                    <div class="form-check form-switch d-flex align-items-center">
                                        <input class="form-check-input" type="checkbox" value="C" asp-for="ClempClasificacion" role="switch" id="SwitchCheckC">
                                        <label class="form-check-label ms-2 me-2" for="SwitchCheckC">C</label>
                                        <label class="form-check-label" for="SwitchCheckC">MENOR A 120.000 EN CONTRATOS</label>
                                        <input type="hidden" asp-for="ClempRango" class="form-control" value="120000" />
                                    </div>
                                </div>

                                <br />
                                <div class="col-md-12">

                                    <label>Subir archivo de evidencia</label>
                                    <input type="file" class="form-control" asp-for="ClempArchivoSoporte" required />
                                    <div class="invalid-feedback">Ingrese un valor válido.</div>

                                </div>

                            </div>
                            <br />
                            <br />
                            <div class="col-6">
                                <button class="btn btn-success w-100" type="submit"><i class=" ri-install-fill"></i> Guardar Empresa</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </form>
</div>

@section scripts {
    <script src="~/assets/js/empresas.js"></script>
    <script src="~/assets/js/maps.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.getElementById('crearEmpresaForm').addEventListener('submit', function (event) {
                let form = event.target;
                let missingFields = [];

                // Recorrer todos los campos requeridos
                form.querySelectorAll('[required]').forEach(function(input) {
                    if (!input.checkValidity()) {
                        // Obtenemos el nombre del campo (label o placeholder)
                        let fieldName = input.previousElementSibling ? input.previousElementSibling.textContent.trim() : input.placeholder.trim();
                        missingFields.push(fieldName);
                    }
                });

                // Si hay campos faltantes, prevenir el submit y mostrar la alerta
                if (missingFields.length > 0) {
                    event.preventDefault(); // Prevenir el envío del formulario

                    let missingFieldsMessage = 'Por favor complete los siguientes campos requeridos:\n\n' + missingFields.join(';\n');

                    Swal.fire({
                        title: '¡Error!',
                        text: missingFieldsMessage,
                        icon: 'error',
                        confirmButtonText: 'OK',
                    });
                }
            });    </script>


    @if (!string.IsNullOrEmpty(successMessage))
    {
        <script>
            Swal.fire({
                title: '¡Success!',
                text: '@successMessage',
                icon: 'success',
                confirmButtonText: 'OK',
            });
        </script>
    }

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <script>
            Swal.fire({
                title: '¡Error!',
                text: '@errorMessage',
                icon: 'error',
                confirmButtonText: 'OK',
            });
        </script>
    }
}